.loading-state {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.portfolio-container {
    height: 486px;
    margin: 0 auto;
    overflow: scroll;
    overflow-x: hidden;
}