.education-bachelor-content {

    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 92%;

    margin: 0 25px;
    position: relative;
    top: 10px;

    .education-bachelor-title {
        display: inline-block;

        width: 90%;
        font-size: 500%;
        text-align: left;
        line-height: 1.3em;
        letter-spacing: 0.04em;
        font-kerning: auto;
        padding: 0 2px;
        color: #e3e1e4
    }

    .education-bachelor-attributes {
        border-top: #74c6d4 solid 2px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: repeat(3, 1fr);
        gap: 2px 0px;
        grid-template-areas:
            "education-bachelor-bachelor education-bachelor-bachelor education-bachelor-degree education-bachelor-degree"
            "education-bachelor-bachelor education-bachelor-bachelor education-bachelor-start-end-date education-bachelor-start-end-date"
            "education-bachelor-grade education-bachelor-grade education-bachelor-length education-bachelor-length";


        width: 100%;
        height: 100%;


        .education-bachelor-school {

            grid-area: education-bachelor-bachelor;
            padding: 10px 0;
            font-size: 250%;
            text-align: center;
            line-height: 1.3em;
            letter-spacing: 0.04em;
            font-kerning: auto;
            border-bottom: #74c6d4 solid 2px;
            color: #e3e1e4;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .education-bachelor-degree {

            grid-area: education-bachelor-degree;
            font-size: 200%;
            line-height: 1.3em;
            letter-spacing: 0.04em;
            font-kerning: auto;
            text-align: center;
            padding: 0 10px;
            border-left: #74c6d4 solid 2px;
            border-bottom: #74c6d4 solid 2px;
            color: #e3e1e4;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .education-bachelor-start-end-date {

            grid-area: education-bachelor-start-end-date;
            font-size: 150%;
            border-left: #74c6d4 solid 2px;
            line-height: 1.3em;
            letter-spacing: 0.04em;
            font-kerning: auto;
            text-align: center;
            padding: 30px 10px;
            border-bottom: #74c6d4 solid 2px;
            color: #e3e1e4;

        }

        .education-bachelor-length {
            border-left: #74c6d4 solid 2px;
            border-bottom: #74c6d4 solid 2px;
            grid-area: education-bachelor-length;
            font-size: 140%;
            line-height: 1.3em;
            letter-spacing: 0.04em;
            font-kerning: auto;
            text-align: center;
            padding: 30px 10px;
            color: #e3e1e4;
        }

        .education-bachelor-grade {

            grid-area: education-bachelor-grade;
            font-size: 200%;
            line-height: 1.3em;
            letter-spacing: 0.04em;
            font-kerning: auto;
            text-align: left;
            border-bottom: #74c6d4 solid 2px;
            color: #e3e1e4;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .education-images {}
}