.year-link-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .year-box-upper {

        width: fit-content;
        font-size: 200%;
        border-radius: 0px 20px 0px 20px;
        background-color: rgba($color: #9096ae, $alpha: 0.4);
        padding: 5px;
        color: #e3e1e4;

        &:hover {
            animation: pulsate-bck 0.5s ease-in-out infinite both;
        }
    }

    .timeline-pointer-upper {
        position: relative;
        top: 20px;

        color: #9096ae;
        height: 40px;
        width: 40px;
        transition: top 0.2s ease-in-out, color 0.5s ease-in-out, height, width 0.5s ease-in-out;
        animation: color-change-2x 2s linear infinite alternate both;
        cursor: default;
    }

    .year-box-upper-active {
        position: relative;
        top: 45px;
        right: 20px;

        font-size: 200%;
        border: none;
        background-color: none;
        color: #3f4249;
        transition: color, border, background-color 0.5s linear;
        animation: rotate-90-bl-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        &:hover {
            color: #e3e1e4;

        }

    }

    .timeline-pointer-active-upper {
        position: relative;
        top: -35px;

        color: #3f4249;
        height: 90px;
        width: 90px;
        transition: top 0.2s ease-in-out, color 0.5s ease-in-out, height, width 0.5s ease-in-out;
        cursor: default;

    }
}



.year-link-below {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 180px;

    .year-box-below {
        position: relative;
        top: 20px;
        width: fit-content;
        font-size: 200%;
        border-radius: 0px 20px 0px 20px;
        background-color: rgba($color: #9096ae, $alpha: 0.4);
        padding: 5px;
        color: #e3e1e4;

        &:hover {
            animation: pulsate-bck 0.5s ease-in-out infinite both;
        }

    }

    .timeline-pointer-below {


        color: #9096ae;
        height: 40px;
        width: 40px;
        transition: top 0.2s ease-in-out, color 0.5s ease-in-out, height, width 0.5s ease-in-out;
        animation: color-change-2x 2s linear infinite alternate both;
        cursor: default;
    }

    .year-box-below-active {
        position: relative;
        top: -35px;
        font-size: 200%;
        border: none;
        background-color: none;
        color: #3f4249;
        transition: color, border, background-color 0.5s linear;
        animation: rotate-90-tr-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        position: relative;

        cursor: pointer;

        &:hover {
            color: #e3e1e4;
        }

    }

    .timeline-pointer-active-below {
        position: relative;
        top: 45px;
        right: 20px;

        color: #3f4249;
        height: 90px;
        width: 90px;
        transition: top 0.2s ease-in-out, color 0.5s ease-in-out, height, width 0.5s ease-in-out;
        cursor: default;

    }
}