.form-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 35px;
  background-color: rgba($color:#3f4249, $alpha: 0.7);
  color: #bccfd5;

  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: futura-medium;

  &:hover {
    transition: all ease-in-out 0.3s;
    background-color: rgba($color: #128194, $alpha: 1);
    color: #bccfd5;

  }

}