.right-service-container-eng {
    background-color: rgba($color: #128194, $alpha: 0.75);
    width: 69.9%;
    height: 94%;
    position: relative;
    right: 40px;
    padding: 10px 0;
    overflow-y: scroll;
    overflow-x: hidden;

    .right-service-content-eng {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: auto 0;
        padding: 20px;
    }

}