.visual-art-skill-container {

    width: 100%;
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;

    .visual-art-content-container {
        position: relative;
        top: 5px;
        margin: 10px auto;
    }


}