.timeline-header-container {
    display: grid;
    grid-auto-columns: repeat(auto, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    gap: 10px 0px;
    grid-template-areas:
        "upper-timeline-header-container upper-timeline-header-container upper-timeline-header-container upper-timeline-header-container"
        "separated-line-timeline-header separated-line-timeline-header separated-line-timeline-header separated-line-timeline-header"
        "below-timeline-header-container below-timeline-header-container below-timeline-header-container below-timeline-header-container";

    align-items: center;

    .separated-line-timeline-header {
        width: 420%;
        height: 5px;
        overflow: hidden;
        position: relative;
        left: 120px;

        .overlay {
            background: rgba($color:#128194, $alpha: 0.5);
            border-radius: 20px 20px 20px 20px;
            height: 10px;
            position: absolute;
            top: -2px;
            width: 100%;
            animation: wipe 3s ease;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);

        }

        .line {
            border: 3px solid rgba($color:#bccfd5, $alpha: 0.4);
            border-radius: 10px 10px 10px 10px;
            backface-visibility: hidden;
        }
    }

    @keyframes wipe {
        to {
            transform: scaleX(0);
        }
    }


    @keyframes pulsate-bck {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes rotate-90-bl-ccw {
        0% {
            transform: rotate(0);
            transform-origin: 0% 100%;
        }

        100% {
            transform: rotate(-90deg);
            transform-origin: 0% 100%;
        }
    }
}

@keyframes rotate-90-tr-ccw {
    0% {
        transform: rotate(0);
        transform-origin: top right;
    }

    100% {
        transform: rotate(-90deg);
        transform-origin: top right;
    }
}

@keyframes color-change-2x {
    0% {
        color: rgba($color: #128194, $alpha: 0.6);
    }

    100% {
        color: rgba($color:#3f4249, $alpha: 0.9);
    }
}

@keyframes swing-in-bottom-bck {
    0% {
        transform: rotateX(-70deg);
        transform-origin: bottom;
        opacity: 0;
    }

    100% {
        transform: rotateX(0);
        transform-origin: bottom;

        opacity: 1;
    }
}

@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}