.marker {
    background-image: url('../../assets/collections-icon/thokiman-icon/collections/normal-face-marker.svg');
    background-position: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    cursor: pointer;


    &:hover {
        animation: thokiman-marker-fade 0.5s linear alternate infinite;

        @keyframes thokiman-marker-fade {
            from {
                opacity: 0.5;
            }

            to {
                opacity: 1;
            }
        }
    }

}