.technology-grid-container {
    position: relative;
    top: 10px;
    margin: 20px auto;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;





    .technology-title {

        margin: auto 5px;
        text-align: left;
        position: relative;
        top: -2px;
        left: -11px;
        font-family: baskerville-old-face;
        font-size: 300%;
        font-kerning: auto;
        letter-spacing: 0.01em;
        color: #e3e1e4;
        width: 15%;
    }

    .technology-grid {

        position: relative;
        left: 140px;
        bottom: 10px;
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        justify-content: center;
        align-items: center;
        width: 40%;


        .technology-grid-item {

            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            .technology-image {

                width: 80%;
                height: 100%;

            }
        }
    }


}