.service-container {
    background-image: url("../../assets/layout/water-3.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69vh;
    transition: background-image 0.7s ease-in-out, height 0.4s ease-in-out;
    font-family: futura-book;
}