.header-container {
    background-color: #3f4249;
    color: #128194;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    .header-pi-container {
        
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50px;
        width: 10%;
        height: 100%;
        
        .header-pi-logo {
            border: 1px solid #128194;
            width: 80%;
            height: 80%;           
        }
    }

    .header-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        right: 40px;
        

        .header-link-container {
            margin: 10px 60px;

            .header-link {
                font-size: 200%;
                padding: 10px 10px;
                color:#128194;
                text-decoration: none;
                cursor:pointer;
                text-align: center;
                
            }
        }
    }
}
