.right-page-container {
    background-color: rgba($color: #128194, $alpha: 0.85);
    width: 69.9%;
    height: 98%;
    position: relative;
    right: 40px;


    .right-page-content {
        margin: 0 auto;
        width: 66%;
        height: 98%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 33%);
        align-items: center;
        justify-content: center;
        grid-template-areas:
            'topgrid-skeletonleft topgrid-skeletonmiddle topgrid-skeletonright'
            'middlegrid-lefthand maingrid-body middlegrid-righthand'
            'bottomgrid-leftleg maingrid-body bottomgrid-rightleg'
        ;

        .thokiman-skeleton-gray-left-hide {
            position: relative;
            left: 35px;
            margin: auto;
            width: 85%;
            height: 100%;
            grid-area: topgrid-skeletonleft;
            display: flex;
            justify-content: center;
            transition: all 0.5s ease-in-out;


            .thokiman-skeleton-content-hide {
                width: 50%;
                height: 100%;


                path.thokiman-skeleton-gray0 {
                    stroke-dasharray: 200 40;
                    stroke-dashoffset: 40%;
                    stroke-miterlimit: 5;
                    animation: thokiman-skeleton 2s ease-in-out infinite alternate-reverse both;
                }
            }
        }

        .thokiman-skeleton-gray-middle-hide {


            margin: auto;
            width: 85%;
            height: 100%;
            position: relative;

            grid-area: topgrid-skeletonmiddle;
            display: flex;
            justify-content: center;
            transition: all 0.5s ease-in-out;

            .thokiman-skeleton-content-hide {

                width: 50%;
                height: 100%;

                path.thokiman-skeleton-gray0 {
                    stroke-dasharray: 200 40;
                    stroke-dashoffset: 40%;
                    stroke-miterlimit: 5;
                    animation: thokiman-skeleton 2s ease-in-out infinite alternate-reverse both;
                }
            }
        }

        .thokiman-skeleton-gray-right-hide {

            position: relative;
            right: 35px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: topgrid-skeletonright;
            transition: all 0.5s ease-in-out;

            .thokiman-skeleton-content-hide {

                width: 50%;
                height: 100%;

                path.thokiman-skeleton-gray0 {
                    stroke-dasharray: 200 40;
                    stroke-dashoffset: 40%;
                    stroke-miterlimit: 5;
                    animation: thokiman-skeleton 2s ease-in-out infinite alternate-reverse both;
                }
            }

        }


        .thokiman-body-middle-hide {

            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: maingrid-body;
            transition: all 0.5s ease-in-out;

            .thokiman-body-content-hide {

                width: 100%;
                height: 100%;
            }
        }

        .thokiman-right-hand-hide {

            position: relative;
            right: 35px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: middlegrid-righthand;
            transition: all 0.5s ease-in-out;

            .thokiman-right-hand-content-hide {

                width: 100%;
                height: 100%;
            }
        }

        .thokiman-left-hand-hide {

            position: relative;
            left: 35px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: middlegrid-lefthand;
            transform: scaleX(-1);
            transition: all 0.5s ease-in-out;

            .thokiman-left-hand-content-hide {

                width: 100%;
                height: 100%;
            }
        }

        .thokiman-right-leg-hide {

            position: relative;
            right: 35px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: bottomgrid-rightleg;
            transition: all 1s ease-in-out;

            .thokiman-right-leg-content-hide {

                width: 100%;
                height: 100%;
            }
        }

        .thokiman-left-leg-hide {

            position: relative;
            left: 35px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: bottomgrid-leftleg;
            transform: scaleX(-1);
            transition: all 1s ease-in-out;


            .thokiman-left-leg-content-hide {

                width: 100%;
                height: 100%;
            }
        }

        @keyframes thokiman-skeleton-show {
            0% {
                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(720deg);
                transform: rotateX(-720deg);
            }
        }


        @keyframes thokiman-body-show {
            0% {

                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(-720deg);
                transform: rotateX(-720deg);

            }
        }

        @keyframes thokiman-leg-show {
            0% {

                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(720deg);
                transform: rotateX(-720deg);
            }
        }

        @keyframes thokiman-hand-show {
            0% {

                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(-720deg);
                transform: rotateX(-720deg);
            }
        }

        @keyframes thokiman-skeleton-left-right {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @keyframes thokiman-skeleton-show {
            0% {
                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(720deg);
                transform: rotateX(-720deg);
            }
        }


        @keyframes thokiman-body-show {
            0% {

                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(-720deg);
                transform: rotateX(-720deg);

            }
        }

        @keyframes thokiman-leg-show {
            0% {

                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(720deg);
                transform: rotateX(-720deg);
            }
        }

        @keyframes thokiman-hand-show {
            0% {

                transform: rotate(0deg);
                transform: rotateX(0);
            }

            100% {

                transform: rotate(-720deg);
                transform: rotateX(-720deg);
            }
        }

        @keyframes thokiman-skeleton-left-right {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        .thokiman-skeleton-gray-left-show {



            position: relative;
            top: 78px;
            left: 100px;
            margin: auto;
            width: 85%;
            height: 100%;
            grid-area: topgrid-skeletonleft;
            display: flex;
            justify-content: center;
            opacity: 0;

            animation: thokiman-skeleton-left-right 0.4s ease-in-out;

            .thokiman-skeleton-content-show {

                width: 50%;
                height: 100%;
                animation: thokiman-skeleton-show 0.4s ease-in-out;
            }
        }

        .thokiman-skeleton-gray-middle-show {

            position: relative;
            top: 3px;
            margin: auto;
            width: 85%;
            height: 100%;
            grid-area: topgrid-skeletonmiddle;
            display: flex;
            justify-content: center;
            animation: thokiman-skeleton-show 2s ease-in-out;

            transition: all 2s ease-in-out;


            .thokiman-skeleton-content-show {
                path.thokiman-skeleton-gray0 {
                    stroke-dasharray: 200 40;
                    stroke-dashoffset: 40%;
                    stroke-miterlimit: 5;
                    animation: thokiman-skeleton 2s ease-in-out infinite alternate-reverse both;
                }

                width: 50%;
                height: 100%;
            }
        }

        .thokiman-skeleton-gray-right-show {

            position: relative;
            top: 78px;
            right: 100px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: topgrid-skeletonright;
            opacity: 0;

            animation: thokiman-skeleton-left-right 0.4s ease-in-out;

            .thokiman-skeleton-content-show {

                width: 50%;
                height: 100%;
                animation: thokiman-skeleton-show 0.4s ease-in-out;
            }

        }


        .thokiman-body-middle-show {
            position: relative;

            top: -10px;
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: maingrid-body;
            animation: thokiman-body-show 2s ease-in-out;
            transition: all 2s ease-in-out;

            .thokiman-body-content-show {


                width: 100%;
                height: 55%;
            }
        }

        .thokiman-right-hand-show {

            position: relative;
            right: 90px;
            top: -80px;
            transform: rotate(-90deg);
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: middlegrid-righthand;
            animation: thokiman-hand-show 2s ease-in-out;
            transition: all 4s ease-in-out;

            .thokiman-right-hand-content-show {
                transition: all 0.4s ease-in-out;
                width: 100%;
                height: 100%;
            }
        }

        .thokiman-left-hand-show {
            position: relative;
            left: 90px;
            top: -80px;
            transform: rotate(-90deg) scaleY(-1);
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: middlegrid-lefthand;
            animation: thokiman-hand-show 2s ease-in-out;
            transition: all 4s ease-in-out;

            .thokiman-left-hand-content-show {

                width: 100%;
                height: 100%;
            }
        }

        .thokiman-right-leg-show {

            position: relative;
            right: 135px;
            top: -30px;
            transform: rotate(-45deg);
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: bottomgrid-rightleg;

            animation: thokiman-leg-show 2s ease-in-out;
            transition: all 4s ease-in-out;

            .thokiman-right-leg-content-show {

                width: 100%;
                height: 100%;
            }
        }

        .thokiman-left-leg-show {
            position: relative;
            left: 140px;
            top: -30px;
            transform: rotate(-135deg) scaleY(-1);
            margin: auto;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: center;
            grid-area: bottomgrid-leftleg;
            animation: thokiman-leg-show 2s ease-in-out;

            transition: all 4s ease-in-out;

            .thokiman-left-leg-content-show {

                width: 100%;
                height: 100%;
            }
        }
    }
}

@keyframes thokiman-skeleton {
    to {
        stroke-dashoffset: 0%;
    }
}