.footer-container {
    position: relative;
    top:25px;
    right: 10px;
    height: 15vh;
    
    display: flex;
    justify-content: flex-end;
    .profile-footer-container{
        
        position:relative;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width:24%;
        height:100%;

        .profile-footer-icon{
            width:50%;
            height: 50%;
            display: flex;
            .footer-icon{
                width:50%;
                height:90%;
            }            
        }
        .profile-footer-text{
              
              width:100%;
              font-family: futura-medium;
              font-kerning: auto;
              letter-spacing: 0.03em;
              text-align: end;
              color: #e3e1e4;
        }
    }
    .social-footer-container {
          
          width:15%;
          height: 90%;
          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-rows: auto auto;
          align-items: center;
          justify-items: center;
            border-left: #e3e1e4 solid 1px;

            .social-item {
                background-repeat: no-repeat;
                height: 80%;
                width: 50%;
                object-fit:cover;
            }
        
    }
}










