.footer-container-contact {
    position: relative;
    top: 10px;
    bottom: 10px;
    height: 14vh;
    display: flex;
    justify-content: center;

    .profile-footer-container-contact {

        position: relative;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 39%;
        height: 100%;

        .profile-footer-icon-contact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 65%;

            .thoki-out-cream {
                animation: pi-cream-animate 1s ease-in-out infinite;
            }

            .pi-cream {
                animation: pi-cream-animate 1s ease-in-out infinite;

            }

            .pi-cream-one {
                animation: pi-cream-animate 1s ease-in-out infinite;

            }

            @keyframes pi-cream-animate {
                from {
                    stroke: #bccfd5;
                    opacity: 0.6;
                }

                to {
                    stroke: #e3e1e4;
                    opacity: 1;
                }
            }

            .footer-icon-contact {
                width: 100%;
                height: 100%;

            }
        }

        .profile-footer-text-contact {

            width: 100%;
            font-family: futura-medium;
            font-kerning: auto;
            letter-spacing: 0.03em;
            text-align: center;
            color: #e3e1e4;
        }
    }
}