.engineer-content-container {
    margin: 4px auto;
    border-top: #74c6d4 solid 2px;
    border-bottom: #74c6d4 solid 2px;
    position: relative;
    top: 10px;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: repeat (auto, 1fr);
    gap: 0px 0px;
    font-family: baskerville-old-face;

    .name-engineer-skill {

        grid-row: span 3;
        padding: 10px;
        text-align: center;
        font-size: 250%;
        font-kerning: auto;
        letter-spacing: 0.04em;
        color: #e3e1e4;
        display: flex;
        align-items: center;
        justify-content: center;

    }



    .description-engineer-skill {

        grid-row: span 3;
        line-height: 1.5em;
        width: 100%;
        text-align: center;
        font-size: 150%;
        font-kerning: auto;
        letter-spacing: 0.03em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e3e1e4;

    }


}