.experience-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;

    .experience-project-title {
        font-size: 400%;
        padding: 10px;
        color: #e3e1e4;
        letter-spacing: 0.04em;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .experience-project {

        width: 100%;
        height: 100%;
        display: grid;
        grid-auto-columns: repeat(4, 1fr);
        grid-auto-rows: repeat(3, 1fr);
        gap: 2px 2px;
        grid-template-areas:
            "name-experience-project name-experience-project name-experience-project name-experience-project"
            "description-experience-project description-experience-project description-experience-project description-experience-project"
            "description-experience-project description-experience-project description-experience-project description-experience-project";
    }







    .name-experience-project {

        width: 99%;

        grid-area: name-experience-project;
        font-size: 200%;
        padding: 10px;
        color: #e3e1e4;
        letter-spacing: 0.09em;
        text-align: left;
        display: flex;
        align-items: center;
    }



    .description-experience-project {
        border-bottom: #74c6d4 solid 1px;
        width: 100%;

        grid-area: description-experience-project;
        font-size: 150%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        text-align: left;
        line-height: 1.1em;
        color: #e3e1e4;
        letter-spacing: 0.05em;
        margin: 10px auto;

    }
}