.collections-container{
    background-color: black;
    .options{
        display: block;
        background: url('../../assets/layout/water-2.jpg'),rgba(227, 225, 228,0.6);
        background-blend-mode:overlay;
        background-size: cover;
        height:10vh;
        display: flex;
        justify-content:flex-start;
        align-items: center;
         

        .option{
        margin: auto 73px;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 0.04em;
         font-size: 150%;
         padding: 10px 10px;
         color:#128194;
         text-align: center;
         font-family: futura-medium;
         position: relative;
         left: 215px;
        }
    }
    .image-collections-container{
        
        
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill,1fr);
        column-gap: 10px;
        
        
        .image-collection{
            
            width: 100%;
            height: 100%;
            &:nth-child(5n){
                grid-column-end: span 2;
            }
        
         .image-item{
             display: flex;
             
             object-fit: cover;
             height:100%;
             width:100%;
         }   
        }
    }
}


