.header-skill-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 80%;
    position: relative;
    top: 5px;


    .skill-box {
        margin: auto;


        &:hover {
            padding: 4px 0;
            border-bottom: #3f4249 solid 2px;
            animation: skill-box 1s ease-in-out;
        }

        .active-text-box {
            text-decoration: none;
            padding: 4px 0;
            color: #74c6d4;
            font-family: futura-demi;
            letter-spacing: 0.03em;
            border-bottom: #3f4249 solid 2px;

        }

        .text-box {
            padding: 4px 0;
            text-decoration: none;
            color: #74c6d4;
            font-family: futura-demi;
            letter-spacing: 0.03em;

            &:hover {
                color: #e3e1e4;
                opacity: 0.8;
            }
        }
    }
}

@keyframes skill-box {
    from {
        opacity: 0;
        color: #74c6d4;

    }

    to {
        opacity: 0.8;
        color: #e3e1e4;
    }
}