.project-container {
    background-color: rgba($color: #128194, $alpha: 0.8);
    width: 69.9%;
    height: 95%;
    position: relative;
    right: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: baskerville-old-face;
    padding: 10px 0;

}